:root {
  --white: #f2f0f1;
  --accent-color: #924e34;
  --bg-color: #2e2e2e;
  --white2: #dad8d9;
  --transition: 0.2s linear;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Montserrat;
  font-style: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "The-Brands";
  src: url("/SoloBarber/font/TheBrands.eot");
  src: url("/SoloBarber/font/TheBrands.ttf") format("truetype"), url("/SoloBarber/font/TheBrands.woff") format("woff"), url("/SoloBarber/font/TheBrands.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

::-moz-selection {
  background-color: var(--bg-color-65);
}

::selection {
  background-color: var(--bg-color-65);
}

header *::-moz-selection {
  background-color: var(--white-25);
}

header *::selection {
  background-color: var(--white-25);
}

html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg-color);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body.noscroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 20px;
}

button,
a {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: 0;
}

main {
  position: relative;
  height: 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

main.blur {
  pointer-events: none;
}

@media (min-width: 768px) {
  main.blur {
    opacity: 1;
    pointer-events: painted;
  }
  main {
    padding-top: calc(var(--header-H) + 25px) !important;
  }
  h1.title-block {
    display: none;
  }
}

.sign {
  padding: 0.75em 1.5em;
  cursor: pointer;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0 0 0 calc(1em / 24 * 1) var(--white);
          box-shadow: 0 0 0 calc(1em / 24 * 1) var(--white);
  border-radius: 0px 1.08em;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-weight: bold;
  color: var(--white);
}

.sign:hover, .sign:focus-visible {
  -webkit-box-shadow: 0 0 0 calc(1em / 24 * 3) var(--white);
          box-shadow: 0 0 0 calc(1em / 24 * 3) var(--white);
  border-radius: 1.08em 0px;
}

.conteiner {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.scissor {
  pointer-events: none;
  --dur: 1s;
}

.scissor path {
  -webkit-transform-origin: 45% 50%;
          transform-origin: 45% 50%;
}

.scissor path:nth-child(1), .scissor path:nth-child(2) {
  -webkit-animation: blade1 var(--dur) linear both;
          animation: blade1 var(--dur) linear both;
}

.scissor path:nth-child(3) {
  -webkit-animation: blade2 var(--dur) linear both;
          animation: blade2 var(--dur) linear both;
}

@-webkit-keyframes blade1 {
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  75% {
    -webkit-transform: rotate(-23deg);
            transform: rotate(-23deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes blade1 {
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  75% {
    -webkit-transform: rotate(-23deg);
            transform: rotate(-23deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes blade2 {
  25% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  75% {
    -webkit-transform: rotate(22deg);
            transform: rotate(22deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes blade2 {
  25% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  75% {
    -webkit-transform: rotate(22deg);
            transform: rotate(22deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media (max-height: 550px) {
  main .info .img {
    display: none;
  }
}

@media (min-width: 1500px) {
  main .links {
    padding-left: var(--padding-L);
    padding-right: var(--padding-L);
  }
}

@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}

.instagram {
  position: relative;
  display: block;
  width: var(--size);
  height: var(--size);
  background: radial-gradient(100% 100% at 0% 100%, #feda75 0%, #fa7e1e 25%, #d62976 60%, #962fbf 125%, #4f5bd5 150%);
  border-radius: 10px;
  opacity: 0.75;
  -webkit-transition: all var(--transition);
  transition: all var(--transition);
}

.instagram:hover, .instagram:focus-visible {
  opacity: 1;
}

.instagram::after {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: center/cover url(/SoloBarber/IMG/icon/Instagram.svg);
}

.icon-sign {
  position: relative;
  font-size: 10px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.icon-sign svg {
  width: 3em;
  -webkit-transform: rotate(-90deg) scale(2);
          transform: rotate(-90deg) scale(2);
}

.icon-sign .but {
  position: absolute;
  top: 45%;
  left: 80%;
  -webkit-transition: all var(--transition);
  transition: all var(--transition);
}

.icon-sign .add {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0 0 0 0.1em var(--white);
          box-shadow: 0 0 0 0.1em var(--white);
  border-radius: 50%;
}

.icon-sign .add::after, .icon-sign .add::before {
  position: absolute;
  content: "";
  width: 70%;
  height: 12%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 10px;
}

.icon-sign .add::before {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.icon-sign:hover .but, .icon-sign:focus-visible .but {
  -webkit-transform: scale(1.2) rotate(-10deg);
          transform: scale(1.2) rotate(-10deg);
}

.title-block {
  position: fixed;
  left: 0;
  top: calc(var(--header-H) + 25px);
  font-family: Montserrat;
  font-weight: bold;
  font-size: 3.6rem;
  text-align: center;
  color: var(--white);
  background-color: var(--accent-color);
  width: 100vw;
  padding: 1rem;
  z-index: 1000;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.links {
  padding: 0 40px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  bottom: 55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
  pointer-events: none;
}

.links > * {
  pointer-events: painted;
}

.links .instagram {
  --size: 65px;
}

.links .sign {
  font-size: 2.4rem;
  max-width: 75%;
}

@media (max-width: 400px) {
  main .links .instagram {
    --size: 45px;
  }
  main .links .sign {
    font-size: 1.7rem;
  }
}

html {
  --header-H: 8rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  font-size: 1rem;
  height: var(--header-H);
  background-color: var(--bg-color);
  z-index: 100000;
  -webkit-box-shadow: 0px 3px 0px var(--accent-color), 0px 4px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 0px var(--accent-color), 0px 4px 50px rgba(0, 0, 0, 0.25);
  --padding-R: 30px;
  --padding-L: 20px;
}

.header .conteiner {
  height: 100%;
}

.header .conteiner > * {
  pointer-events: painted;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 0 var(--padding-R) 0 var(--padding-L);
  background-color: inherit;
  -webkit-box-shadow: 0px 3px 0px var(--accent-color), 0px 4px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 0px var(--accent-color), 0px 4px 25px rgba(0, 0, 0, 0.5);
}

.header .nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 8em;
  z-index: -1;
  visibility: hidden;
  -webkit-transition: visibility 0.2s linear;
  transition: visibility 0.2s linear;
}

.header .nav::before {
  content: "";
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color-25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  opacity: 0;
  -webkit-transition: all var(--transition);
  transition: all var(--transition);
  z-index: -10;
  pointer-events: none;
}

.header .nav__list {
  list-style-type: none;
  max-height: 100vh;
  padding: 55px 60px;
  background: var(--bg-color-65);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-box-shadow: 0px 3px 0px var(--accent-color), 0px 4px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 0px var(--accent-color), 0px 4px 25px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 3em;
}

.header .nav__item {
  font-size: 1em;
  padding: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 1.22em;
  text-align: center;
}

.header .nav__item a {
  position: relative;
  color: var(--white);
  opacity: 0.75;
  -webkit-transition: all var(--transition);
  transition: all var(--transition);
}

.header .nav__item a:last-child {
  display: inline-block;
}

.header .nav__item a::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: var(--accent-color);
  border-radius: 1rem;
  height: 3px;
  width: 0;
  -webkit-box-shadow: 0px 4px 25px #000000, 0px 4px 25px #000000, 0px -3px 10px rgba(255, 255, 255, 0.5), inset 0px -1px 2px rgba(0, 0, 0, 0.25), inset 0px 1px 2px rgba(255, 255, 255, 0.75);
          box-shadow: 0px 4px 25px #000000, 0px 4px 25px #000000, 0px -3px 10px rgba(255, 255, 255, 0.5), inset 0px -1px 2px rgba(0, 0, 0, 0.25), inset 0px 1px 2px rgba(255, 255, 255, 0.75);
  -webkit-transition: width var(--transition);
  transition: width var(--transition);
}

.header .nav__item a:hover, .header .nav__item a:focus-visible, .header .nav__item a:target, .header .nav__item a.active {
  color: var(--white);
  opacity: 1;
  text-shadow: 0px 0px 50px #ffffff, 0px 0px 15px #ffffff, 0px 0px 5px #ffffff;
}

.header .nav__item a:hover::before, .header .nav__item a:focus-visible::before, .header .nav__item a:target::before, .header .nav__item a.active::before {
  width: 75%;
}

.header .nav__item:not(:last-child) {
  margin-bottom: 3.5rem;
}

.header .nav__item:nth-last-child(2) {
  margin-bottom: 0;
}

.header.active .nav {
  visibility: visible;
}

.header.active .nav::before {
  opacity: 1;
}

.header.active .nav__list {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  background: var(--bg-color-90);
}

.header .icon-sign {
  display: none;
}

.logo {
  position: relative;
  font-size: 4em;
}

.logo a {
  font-family: The-Brands;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.175em;
  -webkit-transition: text-shadow var(--transition);
  transition: text-shadow var(--transition);
  color: white;
}

.logo a:hover, .logo a:focus-visible {
  text-shadow: 0px 0px 50px #ffffff, 0px 0px 15px #ffffff, 0px 0px 5px #ffffff;
}

.logo .img {
  position: absolute;
  right: 0;
  -webkit-transform: translateX(100%) translate(-15%, -15%) rotate(45deg);
          transform: translateX(100%) translate(-15%, -15%) rotate(45deg);
  width: 1.75em;
}

.scissor path:nth-child(1),
.scissor path:nth-child(2) {
  fill: var(--white2);
}

.scissor path:nth-child(2) {
  margin-top: 0.1em;
}

.scissor path:nth-child(3) {
  fill: var(--white);
}

.scissor path:nth-child(4) {
  fill: var(--bg-color);
}

button.navigation {
  width: 40px;
  height: 40px;
  -webkit-transition: -webkit-filter 0.2s linear;
  transition: -webkit-filter 0.2s linear;
  transition: filter 0.2s linear;
  transition: filter 0.2s linear, -webkit-filter 0.2s linear;
  position: relative;
  cursor: pointer;
}

button.navigation::after, button.navigation::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  height: 3px;
  border-radius: 100px;
  background-color: var(--white);
  -webkit-transition: all var(--transition);
  transition: all var(--transition);
}

button.navigation::after {
  top: 25%;
}

button.navigation::before {
  bottom: 25%;
}

button.navigation:focus-visible {
  -webkit-filter: drop-shadow(0px 0px 50px #ffffff) drop-shadow(0px 0px 15px #ffffff) drop-shadow(0px 0px 5px #ffffff);
          filter: drop-shadow(0px 0px 50px #ffffff) drop-shadow(0px 0px 15px #ffffff) drop-shadow(0px 0px 5px #ffffff);
}

button.navigation svg {
  position: absolute;
  widows: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  -webkit-transform: scale(2) rotate(0deg);
          transform: scale(2) rotate(0deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

button.navigation svg path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

button.navigation svg path:nth-child(1) {
  fill: var(--white2);
}

button.navigation svg path:nth-child(2),
button.navigation svg path:nth-child(3) {
  fill: var(--white);
}

button.navigation svg path:nth-child(4) {
  fill: var(--bg-color);
}

button.navigation svg path:nth-child(1),
button.navigation svg path:nth-child(2) {
  -webkit-transform: scale(0.5) scaleY(-1);
          transform: scale(0.5) scaleY(-1);
}

.active button.navigation::after, .active button.navigation::before {
  width: 0;
  height: 0;
}

.active button.navigation:focus-visible {
  -webkit-filter: drop-shadow(0px 0px 50px #ffffff) drop-shadow(0px 0px 15px #ffffff) drop-shadow(0px 0px 5px #ffffff);
          filter: drop-shadow(0px 0px 50px #ffffff) drop-shadow(0px 0px 15px #ffffff) drop-shadow(0px 0px 5px #ffffff);
}

.active button.navigation svg {
  -webkit-transform: scale(2) rotate(135deg);
          transform: scale(2) rotate(135deg);
}

.active button.navigation svg path:nth-child(1),
.active button.navigation svg path:nth-child(2) {
  -webkit-transform-origin: center 60%;
          transform-origin: center 60%;
  -webkit-transform: scale(0.5) rotate(90deg) translate(-8%, 3%) scaleY(-1);
          transform: scale(0.5) rotate(90deg) translate(-8%, 3%) scaleY(-1);
}

.active button.navigation svg path:nth-child(1) {
  -webkit-transform: scale(0.5) rotate(90deg) translate(-6%, -3%) scaleY(-1);
          transform: scale(0.5) rotate(90deg) translate(-6%, -3%) scaleY(-1);
}

.active button.navigation svg path:nth-child(3),
.active button.navigation svg path:nth-child(4) {
  -webkit-transform: scale(0.5) translate(20%, -20%);
          transform: scale(0.5) translate(20%, -20%);
}

@media (max-width: 300px) {
  .header .logo .img {
    display: none;
  }
}

@media (min-width: 768px) {
  .header {
    --padding-R: 55px;
    --padding-L: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 0 0 var(--padding-L);
  }
  .header .navigation {
    display: none;
  }
  .header .conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header nav {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-right: 4em;
    padding: 0;
  }
  .header .nav,
  .header .nav.active {
    position: static;
    visibility: visible;
    padding-top: 0;
  }
  .header .nav::before,
  .header .nav.active::before {
    display: none;
  }
  .header .nav__list,
  .header .nav.active__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
    font-size: 20px;
    font-size: 2em;
    padding-right: var(--padding-R);
  }
  .header .nav__list > *,
  .header .nav.active__list > * {
    margin-left: 2em;
  }
  .header .nav__item:not(:last-child),
  .header .nav.active__item:not(:last-child) {
    margin-bottom: 0;
  }
  .header .nav__item a,
  .header .nav.active__item a {
    opacity: 1;
  }
  .header .icon-sign {
    display: inline-block;
  }
}

@media (min-width: 1140px) {
  html {
    --header-H: 7rem;
  }
  .header {
    --padding-R: calc(((100vw - 1140px) / 2) + 20px);
    --padding-L: calc(((100vw - 1140px) / 2) + 30px);
  }
}
