:root {
  --white: #f2f0f1;
  --accent-color: #924e34;
  --bg-color: #2e2e2e;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button,
a {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
